html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    transition: all 0.75s ease-in-out;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LANDING PAGE*/

.landing {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navigation {
    z-index: 1;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed;
    transition: all 0.75s ease-in-out; 
    margin: 0;
    padding: 0;
    height: 8vh;
    font-size: 16pt;
}

.navigation li {
    margin: 0;
    list-style-type: none;
    float: left;
    color: black;
    padding: 3vw 5vw;
}

.navigation a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.navigation a:hover {
    border-bottom: 1px solid rgb(255, 170, 170);  
}

.navigation button {
    float: right;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease-in;
    opacity: 0.75;
    border-radius: 50%;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

i {
    font-size: 16pt;
    color: rgb(255, 170, 170);
}

.drop-content {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 25%;
    transform: translate(-50%);
    display: none;
    flex-flow: column;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.75);
    transition: all 0.75s ease-in-out;
    border-bottom: 1px solid rgb(255, 170, 170);
    border-right: 1px solid rgb(255, 170, 170);
    border-left: 1px solid rgb(255, 170, 170);
}

.drop-content li {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px 30px;
    width: auto;
    opacity: 1;
}

.showClass {
    display: flex;
    animation: animateDD 1s ease-in-out forwards;
}

@keyframes animateDD {
    0% {
        top: 30%;
        opacity: 0;
    }
    60% {
        top: 115%;
        opacity: 1;
    }
    100% {
        top: 100%;
    }
}

.pageTitle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 64pt;
    letter-spacing: 0.15em;
}

/* INFORMATION */

.info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: rgb(255, 170, 170);
}

.infoChild {
    width: 42.5%;
    display: flex;
    flex-flow: column;
    color: white;
    padding: 0 7.5%;
}

.infoChild h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 42pt;
    font-weight: bolder;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
}

.infoChild p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    margin-top: 15px;
}

.infoChild img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GALLERY */

.gallery {
    color: black;
    height: 100%;
}

.galleryText {
    text-align: right;
    width: 85%;
    padding: 65px 0 35px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.galleryText h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 60pt;
    font-weight: bolder;
    border-bottom: 5px solid black;
}

.galleryText p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    padding-top: 10px;
    padding-left: 25px;
}

.photosGal {
    z-index: -1;
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.photosChild {
    display: flex;
    flex-flow: column;
    width: 42.5%;    
}

.photosChild h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    margin: 10px 0;
}

.photosChild img {
    width: 100%;
    position: relative;
}

video {
    object-fit: cover;
    width: 100%;
}

/* Cursor */

#cursor {
    width: 30px;
    height: 30px;
    border: 0px;
    background-color: rgba(255, 170, 170, 0.6);
    border-radius: 50%;
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
}

/* Marking Tags Highliter */

.markC {
    background-color: rgb(255, 170, 170, 0);
    animation-name: animateColor;
    animation-duration: 3s;
    animation-delay: 15s;
    color: white;
    animation-fill-mode: forwards;
}

.markS {
    background-color: transparent;
    animation: none;
}

@keyframes animateColor { 
    90% {
        background-color: rgb(255, 170, 170, 0);
        color: rgba(255, 255, 255, 0);
    }
    100% {
        color: white;
        background-color: rgb(255, 170, 170, 0.85);
    }
}

::selection {
    color: white;
    background: rgb(255, 170, 170);
}

/* Responsive */

@media only screen and (max-width: 1300px), (max-height: 600px)  {
    .info {
        flex-flow: column;
        height: auto;
        padding: 10% 0 5%;
    }
    .infoChild {
        width: 85%;
        padding: 0 7.5% 5%;
    }
}

@media only screen and (max-width: 800px) {
    .photosGal {
        position: relative;
        flex-flow: column;
    }
    .photosChild {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        width: 85%;
    }
}

@media only screen and (max-width: 750px) {
    .navigation {
        font-size: 12pt;
    }
    i {
        font-size: 12pt;
    }
    h1 {
        font-size: 42pt;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 30pt;
    }
}

.secret-mod {
    color: white;
}

.cards {
    padding: 10%;
}

.article {
    margin: 0 0 35px;
}

.article h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 26pt;
    padding: 0 0 10px;
}

.article h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: initial;
    font-size: 14pt;
    padding: 0 0 10px;
    color: rgb(86, 86, 86);
}

.article p {
    font-family: 'Montserrat', sans-serif;
    font-weight: initial;
    font-size: 10pt;
    text-align: justify;
    line-height: 15pt;
}